<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/geoffroy.savy"><i class="fab fa-facebook"></i></a>
    <%= mail_to "savy.geoffroy@gmail.com", '<i class="fa-solid fa-envelope"></i>'.html_safe %>
    <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>
  <div class="footer-copyright">
    Website designed with <i class="fa-solid fa-heart fa-spin fa-spin-reverse"></i> by <%= link_to 'Julien', 'https://www.linkedin.com/in/julien-bertram/'  %>
  </div>
</div>
