
<div id="container">
  <div class="description">
    <h2>Qu'est-ce que l'Ostéopathie?</h2>
    <p>L’ostéopathie est une thérapie manuelle dont l’objectif est de rétablir la mobilité des structures et de tous les systèmes du corps humain afin de favoriser sa capacité d’autorégulation.
  La bonne connaissance de l’anatomie, de la physiologie et des différentes pathologies permet de déterminer le diagnostic le plus probable et d’identifier les situations d’urgence afin de prendre les mesures appropriées pour une meilleure prise en charge.
  Grâce à un interrogatoire sur l'histoire du patient et à une palpation douce et précise, une évaluation complète et globale permet d’examiner la cause des dysfonctionnements musculo-squelettiques, viscérales, neurologiques et crâniennes.</p>
  </div>

  <div id="a-propos">
    <h2>À propos de moi</h2>
    <div class="a-propos-content">
      <div class='nom-photo'>
        <h4>Geoffroy Savy</h4>
        <%= image_tag 'https://homatherapie.ca/media/zoo/images/Geoffroy%20Savy%20_0bf7a7ec11c25e1a63b07a8b1e79acf6.jpg', id:"photo-profil" %>
      </div>
      <p>Diplômé en 2016 de l'Ecole supérieure d’ostéopathie ATMAN en France et du Molinari Institut of Health. Geoffroy Savy est reconnu clinicien en Ostéopathie et a obtenu le diplôme international en ostéopathie.

      Cet enseignement lui a apporté la capacité d’évaluer et d’élaborer un diagnostic ostéopathique, afin d’établir une stratégie d’intervention adaptée au patient grâce à diverses techniques maîtrisées (structurelles, viscérales, crâniennes, etc.) permettant un traitement optimal en tenant compte des besoins du patient.

      Les expériences acquises en clinique interne et sur le terrain sportif lui ont permis de découvrir quel type de thérapeute il voulait être : un thérapeute holistique, prenant en charge le corps humain comme une unité.

      Ouvert d’esprit et à l’écoute de son prochain, il croit avec ferveur que le corps humain a cette capacité innée à conserver son équilibre : l’homéostasie. Son travail en tant qu’ostéopathe est de rétablir cette capacité existante au sein du corps et ainsi de favoriser le processus d'autoguérison.

      Membre de l'association Ostéopathie Québec depuis 2017, Geoffroy reste à la recherche de perfectionnement , il a suivi plusieurs formations et continue de participer à des cours post-gradués afin d'enrichir ses connaissances.</p>
    </div>
  </div>

  <div id="rdv">
    <h2>Prendre Rendez-vous</h2>
    <p>Je suis actuellement disponible dans les locaux d'<%= link_to 'HOMAtherapie', 'https://homatherapie.ca/'%> sur rendez-vous.</p>
  </div>

  <div id="contact">
    <h2>Me contacter</h2>
    <p>Téléphone: (438) 392-8124 <br>
    Courriel: <%= mail_to 'savy.geoffroy@gmail.com', "savy.geoffroy@gmail.com" %>
    </p>
  </div>

</div>
