.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #648381;
}

.footer-copyright {
  margin-left: 11%;
  margin-right: 1%;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .footer {
    padding: 0px 50px;
  }
  .footer-copyright {
    margin-left: 0;
    text-align: center;
  }
}
